<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1 class="info-top">Profile</h1>
    <h2><%= title %></h2>
    <ul>
      
    </ul>
</section>

<%- include('../partials/footer') %>