  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/auth/logout">
        <button class="mdc-button mdc-button--raised mdc-button--leading" class="logout" type="submit">
          <span class="mdc-button__ripple"></span>
          <i class="material-icons mdc-button__icon" aria-hidden="true">logout</i>
          <span class="mdc-button__label">logout</span>
        </button>
        <!-- <button type="submit" class="logout"><span class="material-icons-outlined">logout
          </span></button> -->
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <div class="nav-bar">
    <a 
    href="/" <%- title === 'Home' ? 'class="active"' : '' %>>home</a>  
    <a 
    href="" <%- title === 'Profile' ? 'class="active"' : '' %>
    >profile</a>
    <a 
    href="/beans" <%- title === 'All Beans' ? 'class="active"' : '' %>
    >all beans</a>
    <a 
    href="" <%- title === 'Roasters' ? 'class="active"' : '' %>
    >roasters</a>
  </div>
  </nav>
