  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <i class="fa-solid fa-mug-hot"></i>
    <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>home</a>  
    <a 
      href="" <%- title === 'Profile' ? 'class="active"' : '' %>
    >profile</a>
    <a 
      href="/beans" <%- title === 'All Beans' ? 'class="active"' : '' %>
    >all beans</a>
    <a 
      href="" <%- title === 'Roasters' ? 'class="active"' : '' %>
    >roasters</a>
  </nav>
