  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/auth/logout" class="anchor">
        <button class="mdc-button mdc-button--raised mdc-button--leading" id="logout" type="submit">
          <!-- <span class="logout" class="mdc-button__ripple"></span> -->
          <i  class="material-icons mdc-button__icon" aria-hidden="true">logout</i>
          <span class="mdc-button__label">logout</span>
        </button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <div class="nav-bar">
    <a 
    href="/" <%- title === 'Home' ? 'class="active"' : '' %> class="nav">home</a>  
    <% if (user) { %>
    <a 
    href="/profile" <%- title === 'Profile' ? 'class="active"' : '' %>
    class="nav">profile</a>
    <% } %>
    <a 
    href="/beans" <%- title === 'All Beans' ? 'class="active"' : '' %>
    class="nav">all beans</a>
    <a 
    href="" <%- title === 'Roasters' ? 'class="active"' : '' %>
    class="nav">roasters</a>
  </div>
  </nav>
