html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #f1ccb4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23884906' fill-opacity='0.46' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
  font-family: 'Sansita Swashed', cursive;
  color: #2f1000;
  margin: 0;
  height: 100%;
}

nav {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/12/04/09/13/leaves-1076307_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 10%;
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
  text-decoration: none;
  padding: 20px;
  font-size: 2.9rem;
  text-align: center;
  color: whitesmoke;
}

.nav {
  text-decoration: none;
  padding: 20px;
  font-size: 2.9rem;
  text-align: center;
  color: whitesmoke;
}

.nav-bar {
  padding: 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: contents;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

#user-avatar {
  border-radius: 50px;
}

#review-owner {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.please-login {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.anchor {
  width:25%;
}

#logout {
  display: flex;
  align-items: left;
  justify-content: left;
  justify-self: left;
  background-color: #621b00;
}

.bean-keys {
  font-family: 'Bebas Neue', cursive;cursive;
  font-size: 2rem;
  padding: 20px;

}

.bean-key {
  padding: 20px;
  border: none;
  display: block;
}

.all-beans {
  text-align: center;
}

.add-beans {
  font-size: 25px;
  
}

#roaster {
  margin: 0 0 2rem 2rem;
}

#bname {
  margin: 0 0 2rem 2rem;
}

#origin {
  margin: 0 0 2rem 2rem;
}

#region {
  margin: 0 0 2rem 2rem;
}

#varietal {
  margin: 0 0 2rem 2rem;
}

#tasting {
  margin: 0 0 2rem 2rem;
}

.required {
  color: red;
  right: 1rem;
  font-size: 15px;
}

.button {
  background-color: #c75000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Bebas Neue', cursive;
  margin-left: 25%;
}

.info {
  font-size: 2rem;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-decoration: none;
  padding-left: 15px;
  display: block;
}

.info-rev {
  font-size: 2rem;
  text-align: left;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-decoration: none;
  padding-left: 15px;
  text-align: center;
}

.info-top {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.bean-review-name {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 15px;
}

.rev-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: underline;
  color:rgb(73, 42, 1);
  font-family: 'Lora', serif;
}

.rev-profile {
  font-size: 1.8rem;
  font-weight: bold;
}

.rev {
  font-size: 1.5rem;
  font-family: 'Lora', serif;
  font-weight: bold;
}

#review {
  background: radial-gradient(rgb(107, 2, 2), rgb(129, 47, 0),rgb(170, 64, 3), rgb(187, 101, 2));
  border: 3px solid rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  width: 33%;
}