html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(105, 105, 105);
  font-family: 'Sansita Swashed', cursive;
  color: rgb(97, 56, 3);
  margin: 0;
  background-image: url("https://cdn.pixabay.com/photo/2017/09/10/01/28/coffee-2734123_960_720.jpg");
  background-size: cover;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  background-image: url("https://cdn.pixabay.com/photo/2015/01/31/20/11/coffee-618858_960_720.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.nav-bar {
  padding: 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.nav {
  text-decoration: none;
  padding: 20px;
  font-size: 2.5rem;
  text-align: center;
  color: whitesmoke;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

#user-avatar {
  border-radius: 50px;
}

#review-owner {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.please-login {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.bean-keys {
  font-weight: bold;
  font-family: 'Sansita Swashed', cursive;
  font-size: 2rem;
  padding: 20px;

}

.bean-key {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid black;
}

.all-beans {
  text-align: center;
}

.info {
  font-size: 2rem;
  text-align: left;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-decoration: none;
  padding-left: 15px;
}

.info-rev {
  font-size: 2rem;
  text-align: left;
  font-family: 'Lora', serif;
  font-weight: bold;
  text-decoration: none;
  padding-left: 15px;
  text-align: center;
}

.info-top {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.bean-review-name {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-left: 15px;
}

.rev-title {
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: underline;
  color:rgb(73, 42, 1);
  font-family: 'Lora', serif;
}

.rev-profile {
  font-size: 1.8rem;
  font-weight: bold;
}

.rev {
  font-size: 1.5rem;
  font-family: 'Lora', serif;
  font-weight: bold;
}

#review {
  background: radial-gradient(rgb(107, 2, 2), rgb(129, 47, 0),rgb(170, 64, 3), rgb(187, 101, 2));
  border: 3px solid rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  color: whitesmoke;
  width: 33%;
}